{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

<div class="toc">
  <span>目次</span>
  {{ .TableOfContents }}
</div>
</div>

{{ .Content }}

<div class="nav">
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ with .Parent.Pages.Prev . }}
  前のページ:
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
  <br>
  {{ with .Parent.Pages.Next . }}
  次のページ:
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
</div>
{{ end }}